 <header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3" *ngIf="mostrarMenu" >
    <div class="container">
      <img class="ecoimg" src="https://www.ecosat.com.mx/assets/images/logoecosat.svg"
       alt="img">
      <a class="navbar-brand" [routerLink]="['/']">PuntoVentaECOSAT</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="navbar-collapse collapse d-sm-inline-flex justify-content-end"
        [ngClass]="{ show: isExpanded }"
      >
        <ul class="navbar-nav flex-grow">
         
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-white" [routerLink]="['/Venta']"
              >Realizar Venta</a
            >
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']" *ngIf="esSupervisor">
            <a class="nav-link text-white" [routerLink]="['/VerVenta']"
              >Ventas</a
            >
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']" *ngIf="esSupervisor">
            <a class="nav-link text-white" [routerLink]="['/VerProductos']"
              >Productos</a
            >
          </li>

          <li class="nav-item" [routerLinkActive]="['link-active']">
            <button mat-button type="button" (click)="salir()"><mat-icon>logout</mat-icon>Salir</button>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header> 
